* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.title h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 40px;
}

.list a {
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.list a:hover {
    color: orange;
    transition: all 0.2s ease-in-out;
}

.list li {
    margin: 25px 0;
}

.list {
    margin-bottom: 40px;
}

.box {
    /* left: -275px; */
    transition: all 0.2s ease;
    height: 100vh;
    background: rgba(20, 20, 20, 0.5);
    padding: 15vh 45px;
    position: fixed
}

.box:hover {
    left: 0;

    transition: all 0.2s ease;
}

.wo {
    margin-left: 300px;
}